footer
    .container
        .row
            .col-4
                img(src="./media/constructora-community.jpeg", alt="")
                include ../blocks/social
            .col-4
                h3 Información
                .hr
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A exercitationem nemo aliquam sunt ipsam quod repudiandae itaque error eos ratione.
            .col-4
                h3 Oficinas de Community
                .hr
                p
                    span.icon-phone
                    span 72087907
.copy-right
    .container
        .row
            .col-12.center
                p © Copyrights 2020, All rights reserved.
            
            