header.header-video
    .transparencia
        img(src="./media/constructora-community.png", alt="")
    video(src="./media/construccion-community.mp4", autoplay, muted,loop)
    .header-content
        .container
            .contenido
                .item-contenido
                    h2 Lorem ipsum dolor sit.
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, vel!