.icon-menu#btn-menu
nav.pt-1#nav-primary
    .container
        .row
            .col-2#brand
                a(href="")
                    img(src="./media/constructora-community-logo.jpeg", alt="", srcset="").show
            .col-10#nav
                ul
                    li  
                        a(href="./") Inicio
                    li
                        a(href="Nosotros.html") Nosotros
                    li
                        a(href="Servicios.html") Servicios
                    li
                        a(href="Contacto.html") Contacto