nav.pt-1
    .container
        .row
            .col-2
                a(href="")
                    img(src="./media/constructora-community-logo.jpeg", alt="", srcset="").show
            .col-10
                ul
                    li  
                        a(href="#") Inicio
                    li
                        a(href="#") Empresa
                    li
                        a(href="#") Servicios
                    li
                        a(href="#") Contacto