.social-menu
    ul
        li
            a(href="#").icon-facebook
        li
            a(href="#").icon-facebook
        li
            a(href="#").icon-facebook
        li
            a(href="#").icon-facebook