.icon-menu#btn-menu{
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 20px;
    font-size: 1.5em;
    background-color: $primary;
    border-radius: 100%;
    color: $color-fondo;
    @include shadow;
    cursor: pointer;
    display: none;
    z-index: 20;
}
nav{
    @include flex;
    @include shadow_bottom;
    background-color: red;
    vertical-align: baseline;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
    background-color: $color-fondo;
    width: 100%;
    
    ul{
        list-style: none;
        text-align: right;
        li{
            display: inline-block;
            padding: 45px 0;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 10px;
            margin-right: 10px;
            vertical-align: top;
            a{
                text-decoration: none;
                font-size: 100%;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                color:$secondary;
                transition: .3s;
                &:hover{
                    color:$secondary-hover;
                }
            }
        }
    }
    
}