body{
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    h1,h2,h3,h4,h5,h6{
        margin: 0px;
        padding: 0px;
    }
}
p{

}
.title{
    width: 100%;
    h1{
        color:$primary;
    }
}
.subtitle{
    width: 100%;
    h2{

    }
}

.center{
    text-align: center !important;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.justify{
    text-align: justify;
}