$primary: #084E7A;
$primary-hover: #1997E9;
$secondary: #8D8E92;
$secondary-hover:#DADADB;
$color-font: #010101;
$color-fondo: white;

// FONT
$f-weight-3:300;
$f-weight-5:500;
$f-weight-6:600;

$space:15px;